## Libraries

In [1]:
import requests,csv
from bs4 import BeautifulSoup
import pandas as pd

## Adding The Headers In The CSV File

In [2]:
with open('jobs.csv','w',encoding='utf-8',newline='') as f:
        writer = csv.writer(f)
        writer.writerow(['Job Title','Company','Location','Time Of Work','Job Description'])

## Appending The Data From The Site To The CSV File

In [3]:
page_no = 0
while True:
    url=f'https://wuzzuf.net/search/jobs/?a=navbg&q=data%20science&start={page_no}'
    response = requests.get(url)
    soap = BeautifulSoup(response.text,'html.parser')
    with open('jobs.csv','a',encoding='utf-8',newline='') as f:
        writer = csv.writer(f)
        l = soap.find_all('div',attrs={'class':'css-1gatmva e1v1l3u10'})
        for row in range(len(l)):
            writer.writerow([
                l[row].find('a',attrs={'class':'css-o171kl'}).get_text(),
                l[row].find('a',attrs={'class':'css-17s97q8'}).get_text(),
                l[row].find('span',attrs={'class':'css-5wys0k'}).get_text(),
                l[row].find('span',attrs={'class':'css-1ve4b75 eoyjyou0'}).get_text(),
                l[row].find('div',attrs={'class':'css-y4udm8'}).find_all('div')[1].get_text()
            ])
    l2 = soap.find('div',attrs={'class':'css-7o92qm'}).find('li',attrs={'class':'css-8neukt'}).get_text().split('of')
    if l2[1].strip() in l2[0].strip():
        print('Finished')
        break
    else:
        page_no+=1

Finished

## Showing Data

In [4]:
df = pd.read_csv('jobs.csv')
df

,Job Title,Company,Location,Time Of Work,Job Description
0,Data Science Intern,Merck Sharp & Dohme Corp -,"Dubai, United Arab Emirates",Full Time,Not specified · Administration · IT/Software D...
1,Product Owner (Data Science & Machine Learning...,Callsign -,"Dubai, United Arab Emirates",Full Time,Not specified · IT/Software Development · Proj...
2,Data Analyst,2CooM -,"6th of October, Giza, Egypt",Full Time,Experienced · 1 - 5 Yrs of Exp · IT/Software D...
3,Oracle Data Platform Supervisor,e-finance -,"6th of October, Giza, Egypt",Full Time,Experienced · 5 - 10 Yrs of Exp · IT/Software ...
4,Senior Data Engineer - Remote,GetTechForce.com -,"Cairo, Egypt",Work From Home,Manager · 3+ Yrs of Exp · IT/Software Developm...
...,...,...,...,...,...
745,Senior Sales Account Manager,Silicon21 -,"Nasr City, Cairo, Egypt",Full Time,Experienced · 3 - 6 Yrs of Exp · Sales/Retail ...
746,Sales Account Manager,Silicon21 -,"Nasr City, Cairo, Egypt",Full Time,Experienced · 1 - 3 Yrs of Exp · Sales/Retail ...
747,Junior Angular Front-end Developer,StudentGator -,"Dokki, Giza, Egypt",Full Time,Entry Level · IT/Software Development · Engine...
748,Safety Engineer,ICON Holding -,"Cairo, Egypt",Full Time,Experienced · 1 - 3 Yrs of Exp · Engineering -...
749,Senior Odoo Developer.,Confidential -,"Cairo, Egypt",Full Time,Experienced · 3 - 7 Yrs of Exp · IT/Software D...